/*HEADER*/
header {
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 10px;
    background-color: rgba(6, 147, 227, 1);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
  }
  
  .logo img {
    max-width: 120px;
    height: auto;
  }
  
  .navmenu {
    display: flex;
    list-style: none;
  }
  
  .navmenu a {
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
  }
  
  .navmenu a:hover {
    color: black;
  }
  
  .nav-icon {
    display: flex;
    align-items: center;
  }
  
  .nav-icon i {
    margin-right: 20px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.42s ease;
  }
  
  .nav-icon i:hover {
    transform: scale(1.1);
    color: black;
  }
  
  #Valuta {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    background-color: rgba(6, 147, 227, 1);
    border: 2px solid rgba(6, 147, 227, 1);
    color: white;
  }
  
  #shipment p {
    position: absolute;
    top: 0px;
    left: 55px;
    color: white;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }






.CART {
  display: flex;
  justify-content: center;
  align-items: center;
}





/*FOOTER*/
ul.Contact {
    display: flex;
    text-align: center;
  }
  ul.Contact a {
    font-size: 20px;
    margin: 0 50px;
  }
  ul.Contact img {
    width: 50px;
    height: 50px;
  }
  ul.Contact a:hover img {
    opacity: 0.7;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(6, 147, 227, 1);
    font-family: Arial;
    color: white;
  }
  
  a {
    list-style: none;
    text-decoration: none;
  }
  