header {
  background-color: #003366;
  padding: 20px;
  display: flex;
  align-items: center;
}

header ul li a {
  color: rgb(255, 255, 255);
  margin: 5px;
  font-weight: bold;
}

header ul li {
  color: white;
}

aside {
  width: 40%;
  height: 40%;
  padding-left: 50px;
  margin-left: 50px;
  font-style: normal;
}

#sidebar {
  width: 250px;
  padding: 20px;
  background-color: rgb(194, 190, 190);
  border: 2px solid black;
}

.productenLijst {
  display: flex;
  list-style: none;
  justify-content: center;
}

.product {
 display: flex;
 flex-direction: column;
align-items: center;
}

.productTitel {
  font-size: 18px;
}
